.expanded-product-container {
  display: flex;
  padding: 3rem 18rem;
  box-sizing: border-box;
  gap: 2rem;
}

.product-imgs-container {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 1rem;
}
.product-imgs-container img {
  width: 100%;
}
.product-info-container {
  flex: 1;
}
.product-info-container h2 {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.35rem;
  width: fit-content;
  border-radius: 0.3rem;
  background-color: lightgray;
}

.product-info-container h1 {
  font-size: 2rem;
}
.product-info-container p {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.product-rating {
  font-size: 0.9rem;
}

.product-sizes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.sizes-header {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.size-button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
.size-button:hover {
  background-color: rgb(238, 234, 234);
}
.size-button-focus {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.size-button-focus:hover {
  background-color: rgb(39, 39, 39);
}
.add-to-cart-button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
}

.product-info-container input::-webkit-inner-spin-button,
.product-info-container input::-webkit-outer-spin-button {
  opacity: 1;
}

.product-info-container input {
  margin: 1rem 0.2rem;
  padding: 0.1rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.info-heading {
  border-top: 1px solid lightgray;
  margin-top: 0.1rem;
  padding-top: 1rem;
}

@media (max-width: 1800px) {
  .expanded-product-container {
    padding: 2rem 10rem;
  }
}

@media (max-width: 1600px) {
  .expanded-product-container {
    padding: 2rem 8rem;
  }
}
@media (max-width: 1400px) {
  .expanded-product-container {
    padding: 2rem 7rem;
  }
}

@media (max-width: 1200px) {
  .expanded-product-container {
    padding: 2rem 6rem;
  }
}

@media (max-width: 1000px) {
  .expanded-product-container {
    padding: 2rem 5rem;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .expanded-product-container {
    padding: 1rem 2rem;
  }

  .product-imgs-container {
    gap: 0.3rem;
  }
  .product-imgs-container img {
    width: 100%;
  }

  .product-info-container h1 {
    font-size: 1.4rem;
  }

  .product-rating {
    font-size: 0.8rem;
  }

  .product-sizes-container {
    gap: 0.5rem;
  }

  .sizes-header {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .size-button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .product-info-container p {
    margin: 0.4rem 0rem;
  }

  .info-heading {
    margin-top: 0.1rem;
    padding-top: 0.5rem;
  }
}
