.Main-page-section {
  padding: 3rem 14rem;

  box-sizing: border-box;
}

@media (max-width: 1800px) {
  .Main-page-section {
    padding: 2rem 12rem;
  }
}

@media (max-width: 1600px) {
  .Main-page-section {
    padding: 1.7rem 6rem;
  }
}

@media (max-width: 1400px) {
  .Main-page-section {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 1220px) {
  .Main-page-section {
    padding: 1.3rem 2rem;
  }
}

@media (max-width: 750px) {
  .Main-page-section {
    padding: 1rem 1rem;
  }
}
