.Pictured-Catagories {
  gap: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.catagory-pics-container {
  gap: 0.6rem;
  cursor: pointer;
  width: calc(25% - 1rem);
  height: auto;
  max-width: 50%;

  text-decoration: none;
  color: black;
}
.catagory-pics-container span {
  font-weight: 500;
  width: fit-content;
}

.catagory-pics-container img {
  object-fit: cover;
  flex: 1;
}

@media (max-width: 1400px) {
}

@media (max-width: 1320px) {
  .Pictured-Catagories {
    gap: 1rem;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .catagory-pics-container {
    gap: 0.6rem;
    cursor: pointer;
    width: calc(25% - 0.3rem);
    height: auto;
    max-width: 50%;
  }
}
@media (max-width: 900px) {
  .Pictured-Catagories {
    justify-content: center;
    gap: 0.3rem;
  }

  .catagory-pics-container {
    gap: 0.6rem;
    cursor: pointer;
    width: calc(50% - 0.3rem);
    height: auto;
    max-width: 50%;
  }
}
@media (max-width: 750px) {
}
